@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');

h1, h3 {
  font-family: 'Stick No Bills', sans-serif;
}

.form-container {
  border-radius: 25px;
  border: 2px solid #281aaa;
  padding: 20px;
  width: 200px;
  height: 350px;
}

.concert-card {
  border-radius: 25px;
  border: 2px solid #281aaa;
  padding: 20px;
  width: 200px;
  height: 350px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
